.class{
    position:static;
    background-color: aqua;
    padding:15px;
    margin:10px;
}
.relative{
    position: relative;
    left:40px;
    top:35px;
    background-color: rgb(121, 19, 217);
}
.absolute{
    position:absolute;
    top:300px;
    left:30px;
    background-color: brown;
}
.fixed{
   position:fixed;
   bottom: 10px;
   right: 10px;
   width: 200px;
   height: 100px;
   background-color: chocolate; 
}
.sticky{
    position: sticky;
    top: 100px;
    background-color: rgb(185, 41, 101);
}