h1{
   background-color: aqua;
 }
p1{
   background-color: aqua;
}
.conteiner{
   width:100px;
   height:30px;
   background-color: aqua;
}
img{
   background-color: brown;
}
img{
   display: block;
}
p{
   display: inline;
}
.con{
   margin:30px;
   background-color: blueviolet;
   width:100px;
   height:200px;
   display: block;
}
.oo{
    display: block;
}
.img{
    display: block;
}
a{
    display: block;
}
