<<<<<<< HEAD
body {
   font-family: Arial, sans-serif;/* шрифт */
   background-color: #f0f0f0;/* свет фона */
   margin: 20px;/* отступ */
}
p {
   color: blue;/* свет абзацев */
}
.highlight {
   font-weight: bold;/* выделенный текст будет жирным */
}
 #header {
   background-color: red; /* фон будет красным */
   text-align: center;
   /* текст будет расположен в центре */
}
/* 2 задание */

h1{
 color:blueviolet;
}
#header{
   color:blue;
}
.highlight{
   color:red;
}
/* здесь мы проверяем какой из команд выполнется.Выполнился id потому что он выполняеться первымю */
=======
body {
   font-family: Arial, sans-serif;
   background-color: #f0f0f0;
   margin: 20px;
}
p {
   color: blue;
}
.highlight {
   font-weight: bold;
}
h1{
   #header {
   background-color: red;
   text-align: center;
}

}
h1{
 color:blueviolet;
}
#header{
   color:blue;
}
.highlight{
   color:red;
}
>>>>>>> 71bec0860b6bab3962ceae992ff7bf5458ddf822
